body {
	font-family: 'Lobster', cursive;
	background-color: #C6C2AD;
}

#main {
	text-align: center;
	margin-top: 10px;
}

#active-board {
	text-align: center;
	width: 600px;
	margin: 0 auto;
}

.board-tile {
	display: inline-block;
	width: 175px;
	height: 175px;
	border: 2px solid;
	border-radius: 15px;
	margin:	0 5px 5px 0;
}

.board-tile.selected-tile {
	background-color: black;
}

.board-tile.unselected-tile {
	background-color: white;
}