<!DOCTYPE html>
<html ng-app="tttApp" >
  <head>
      <title>Tic Tac Toe</title>
      <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
      <link rel="stylesheet" type="text/css" href="css/main.css"/>
      <!-- Angular -->
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.5/angular.min.js"></script>
      <!-- Firebase -->
      <script src="https://cdn.firebase.com/js/client/2.0.4/firebase.js"></script>
      <!-- AngularFire -->
      <script src="https://cdn.firebase.com/libs/angularfire/0.9.0/angularfire.min.js"></script>
      <script src="js/main.js"></script>
      <script src="js/tttController.js"></script>
  </head>
  <body ng-controller="tttController as tttCtrl">
    <div id="main">
        <header>
          <h1>{{tttCtrl.sync.gameName}}</h1>
        </header>
        <section id="playernames">
          <div class="player1name">
              <input type="text" placeholder="Player 1" ng-model="tttCtrl.sync.player1Name" ng-change="tttCtrl.sync.player1Name.save(tttCtrl.sync.player1Name)">
          </div>
          <div class="player2name">
              <input type="text" placeholder="Player 2" ng-model="tttCtrl.sync.player2Name">
          </div>
        </section>
        <section id="active-board">

          <div id="game-board">
              <div class="board-tile"
              ng-repeat="tile in tttCtrl.sync.tiles track by $index"
              ng-click="tttCtrl.playerTurn($index)"
              >
              {{tile}}
              </div>
          </div>
        </section>
        <section id="gameClearbtn">
          <button ng-click="tttCtrl.clearBoard()">Clear</button>
        </section>
    </div>
  </body>
</html>